section.new-tweet {
  background-color: #eee;
  border-radius: 5px;
  margin: 2em;
  border: 1px solid #d3d3d3;
  padding: 10px;
}

section.new-tweet h2 {
  border-bottom: 2px solid #244751;
  margin-top: 0;
}

section.new-tweet textarea {
  width: 100%;
  padding: 5px;
}

section.new-tweet .counter {
  float: right;
}

section.new-tweet .exceed-limit {
  color: #ff0000;
}
