article.tweet {
  border-radius: 5px;
  margin: 2em;
  border: 1px solid #d3d3d3;
}

article:hover {
  border: 1px solid black;
  -webkit-filter: saturate(500%);
}

article.tweet header {
  position: relative;
  border-radius: 5px 5px 0 0;
  background-color: #fffff0;
  width: 100%;
  height: 70px;
}

article.tweet header .avatar {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin: 10px;
  float: left;
}

article.tweet header .name {
  margin-top: 10px;
  float: left;
}

article.tweet header .handle {
  margin: 20px 10px 0 0;
  float: right;

}
article.tweet p.tweet-text {
  margin: 0;
  padding: 30px 20px 30px 20px;
  border-bottom: 1px solid #d3d3d3;
  overflow-wrap: break-word;
  clear: both;
}

article.tweet footer {
  padding: 10px;
}

article.tweet footer .social {
  height: 20px;
  width: auto;
  float: right;
  display: none;
}
